.souvenir-packages__furthur-informations {
	&__label {
		color: var(--grayColor300);
		font-size: var(--fontSizeSM);
		margin-left: var(--spacingSM2-1);
	}
	&__green-info {
		color: var(--greenColor);
	}
}
