.choosing-parcel {
	min-height: 100vh;
	padding: var(--spacingBase);
	background-color: var(--grayColor500);
	&__modal {
		width: 36.25rem;
		background: var(--white);
		padding: var(--spacingMD);
		border-radius: var(--borderRadiusMD);
		&__title {
			position: relative;
			color: var(--grayColor300);
			font-size: var(--fontSizeMD2);
			&__image {
				position: absolute;
				left: 0;
				cursor: pointer;
			}
		}
		&__label {
			display: block;
			position: relative;
			padding-right: 2.25rem;
			color: var(--grayColor300);
			input[type="radio"] {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
				&:checked ~ .choosing-parcel__modal__label__checkmark {
					background-color: #fff;
					&::after {
						display: block;
					}
				}
			}
			&__selected {
				color: var(--blueColor400);
			}
			&__checkmark {
				position: absolute;
				top: 0;
				right: 0;
				height: 1.5rem;
				width: 1.5rem;
				border: 2px solid var(--blueColor400);
				background-color: #fff;
				border-radius: 50%;
				&::after {
					content: "";
					position: absolute;
					display: none;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 0.875rem;
					height: 0.875rem;
					border-radius: 50%;
					background-color: var(--blueColor400);
					box-shadow: 0 3px 6px 0 rgba(68, 108, 153, 0.32);
				}
				&:hover {
					box-shadow: 0 3px 6px 0 rgba(68, 108, 153, 0.32);
				}
			}
		}
	}
}
