@charset 'UTF-8';
@import "/node_modules/shabnam-font/dist/font-face.css";
@import "./bootstrap-rtl";
@import "./variables";
@import "./colors";
@import "./buttons";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Shabnam", sans-serif;
  font-weight: 500 !important;
  color: var(--textColor) !important;
}

.w-12 {
  width: 12% !important;
}

.form-control {
  border-radius: 0.75rem !important;
  padding: 1.5rem !important;
  &:focus {
    border-radius: 0.75rem !important;
    border: 1px solid var(--marinBlueColor) !important;
  }
}
