.card-parcel__tag {
  padding: var(--spacingXXXS) var(--spacingXS);
  background: var(--blueColor100);
  border-radius: var(--borderRadiusSM);
  color: var(--blueColor300);
  font-size: var(--fontSizeSM);
}
