.sign-in__welcome {
	&__texts {
		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__image-input {
		cursor: pointer;
	}
	&__btn-group {
		& .primary-button {
			background: var(--yellowColor300) !important;
			box-shadow: none !important;
		}
		@media (max-width: 768px) {
			.primary-button {
				margin-top: var(--spacingSM2);
				width: 100%;
			}
			.primary-outline-button {
				width: 100%;
			}
		}
	}
}
