.souvenir-packages {
  background: var(--white);
  padding: var(--spacingMD);
  border-radius: var(--borderRadiusMD);
  margin-top: var(--spacingSM3);
  hr {
    border-top: 1.5px solid var(--grayColor200);
  }
  h5 {
    font-size: var(--fontSizeMD);
  }
  h4 {
    color: var(--grayColor400);
    font-size: var(--fontSizeMD2);
  }
  h3 {
    font-size: var(--fontSizeLG);
    @media (max-width: 768px) {
      font-size: var(--fontSizeMD2);
    }
  }
  &__send-box {
    background: var(--blueColor100);
    color: var(--blueColor300);
    font-size: var(--fontSizeSM);
    padding: var(--spacingXXXXS) var(--spacingXS);
    border-radius: var(--borderRadiusSM);
  }
  &__footer {
    &__box-info {
      @media (max-width: 768px) {
        & > div {
          justify-content: center !important;
        }
      }
      &__weight {
        & span {
          &:first-child {
            font-size: var(--fontSizeXL);
          }
          &:last-child {
            font-size: var(--fontSizeXS);
          }
        }
      }
      &__price {
        & span {
          &:first-child {
            font-size: var(--fontSizeXL);
          }
          &:last-child {
            font-size: var(--fontSizeXS);
          }
        }
      }
      &__info-text {
        color: var(--blueColor200);
        font-size: var(--fontSizeSM);
      }
    }
    &__btn-group {
      text-align: left;
      @media (max-width: 768px) {
        text-align: center !important;
        margin-top: var(--spacingLG) !important;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      span {
        color: var(--primaryColor);
        display: inline-block;
        @media (max-width: 768px) {
          margin-bottom: var(--spacingMD);
        }
      }
      a {
        display: inline-block;
        background: var(--primaryColor) !important;
        padding: var(--spacingXS) var(--spacingBase);
        border-radius: var(--borderRadiusMD);
        color: var(--white) !important;
        &:hover {
          background: var(--btnPrimaryHover) !important;
          transition: var(--transitionBase);
        }
      }
    }
  }
}
